---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #156999 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #155799 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";


