---
---

//colors
$bg-color:  rgb(21, 105, 153) !default;
$bg-color-transparent:  rgba(21, 105, 153, 0.3) !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: rgb(21, 105, 153) !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #155799 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";


.page-header {
    color: $header-heading-color;
    text-align: center;
    background-color: $header-bg-color;
    // background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  
    @include large {
      padding: 2rem 5rem;
    }
  
    @include medium {
      padding: 1rem 4rem;
    }
  
    @include small {
      padding: 0.5rem 1rem;
    }
  }

.page-title {
    margin-bottom: 0;
    font-weight: normal;
    opacity: 0.7;
  
    @include large {
      font-size: 2rem;
    }
  
    @include medium {
      font-size: 1.5rem;
    }
  
    @include small {
      font-size: 1rem;
    }
  }

nav {

    /*Strip the ul of padding and list styling*/
    ul {
      background-color: $bg-color;
      list-style-type:none;
      margin:0;
      padding:0;
      // position: absolute;
    }
    /*Create a horizontal list with spacing*/
    li {
      // display:inline-block;
      display: block; 
      float: left;
      margin-right: 1px;
      position: relative;
    }
    /*Style for menu links*/
    li a {
      display:block;
      min-width:140px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #fff;
      background: $bg-color;
      text-decoration: none;
      z-index: 20;
      position: relative;
    }
    /*Hover state for top level links*/
    li:hover a {
      background: $bg-color-transparent;
    }
    /*Style for dropdown links*/
    li:hover ul a {
      background: $bg-color-transparent;
      height: 40px;
      line-height: 40px;
    }
    /*Hover state for dropdown links*/
    li:hover ul a:hover {
      background: $bg-color;
    }
    /*Hide dropdown links until they are needed*/
    li ul {
      display: none;
    }
    /*Make dropdown links vertical*/
    li ul li {
      
      display: block;
      float: none;
    }
    /*Prevent text wrapping*/
    li ul li a {
      width: auto;
      min-width: 100px;
      padding: 0 20px;
    }
    /*Display the dropdown on hover*/
    ul li a:hover + .hidden, .hidden:hover {
      display: block;
    }
    /*Style 'show menu' label button and hide it by default*/
    .show-menu {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-decoration: none;
      color: #fff;
      background: $bg-color;
      text-align: center;
      padding: 10px 0;
      display: none;
    }
    /*Hide checkbox*/
    input[type=checkbox]{
      display: none;
    }
    /*Show menu when invisible checkbox is checked*/
    input[type=checkbox]:checked ~ #menu{
      display: block;
    }
    /*Responsive Styles*/
    @include small {
    /*Make dropdown links appear inline*/
      ul {
        position: static;
        display: none;
      }
      /*Create vertical spacing*/
      li {
        margin-bottom: 1px;
      }
      /*Make all menu links full width*/
      ul li, li a {
        width: 100%;
      }
      /*Display 'show menu' link*/
      .show-menu {
        display:block;
      }
    }
}

.btn {
    /* background-color: rgba(255, 255, 255, 0.08); */
    background-color: $bg-color;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;

    color: rgba(255, 255, 255, 0.7);

    /*display: inline-flex;*/

    margin-bottom: 1rem;

    position: relative;

    text-align: center;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  
    &.doc {
        float: right;
        margin-right: 0%;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      background-color: rgba(131, 18, 33, 0.7);
      border-color: rgba(255, 255, 255, 0.3);
    }
  
    + .btn {
      margin-left: 1rem;
    }
  
    @include large {
      padding: 0.75rem 1rem;
    }
  
    @include medium {
      padding: 0.6rem 0.9rem;
      font-size: 0.9rem;
    }
  
    @include small {
      /*display: block;*/
      /*width: 100%;*/
       
      padding: 0.75rem;
      font-size: 0.9rem;
  
      + .btn {
        margin-top: 1rem;
        margin-left: 0;
      }
    }
  }
  
  